*.pem

local.env

adapter/app/entrypoint.sh.short
adapter/app/entrypoint.sh.works
adapter/app/old/
adapter/app/out.txt
adapter/app/t.sh
adapter/app/tt.sh
clean.txt
clean2.txt
mon.sh
out.txt
out2.txt

