alias NAME-admin-refresh="scp $1 admin@IP:~/admin.sh"

alias NAME-admin-undo-init="ssh admin@IP 'admin-undo-init'"

alias NAME-admin-init="ssh admin@IP 'admin-init'"

alias NAME-admin-clone-app="ssh admin@IP 'admin-clone-app $1'"

alias NAME-app-start="ssh admin@IP 'app-start'"
              
alias NAME-app-status="ssh admin@IP 'app-status'"

alias NAME-app-stop="ssh admin@IP 'app-stop'"
