# default tetra.env

# bootstrap.sh Requires TETRA_DIR set, e.g. TETRA_DIR=$HOME/tetra
# source $tetra_src/bootstrap.sh

# $tetra_src/bootstrap.sh calls $TETRA_DIR/tetra.env
# $tetra_src/bootstrap.sh loads $tetra_src/tetra/*.sh
# $tetra_src/bootstrap.sh loads $TETRA_DIR/**/*.sh
# $tetra_src/bootstrap.sh calls $TETRA_DIR/tetra.sh

# Example user defined variables
JS_DIR=$HOME/src/js-study-group    # js-activate enables node env 
DS_DIR=~$HOME/src/ds-study-group   # ds-activate enables python env
