# default tetra.env

# bootstrap.sh Requires TETRA_DIR set, e.g. TETRA_DIR=$HOME/tetra
# source $tetra_src/bootstrap.sh

# Example user defined variables
JS_DIR=$HOME/src/js-study-group    # js-activate enables node env 
DS_DIR=$HOME/src/ds-study-group   # ds-activate enables python env
