/* css/themes.css */

/* Define your CSS variables */
:root {
    --ink: #cccccc;
    --one: #ff9900;
    --two: #f04f4a;
    --three: #00e1cf;
    --four: #65ac07;
    --paper-light: #616161;
    --paper-mid: #1c1f25;
    --paper-dark: #323232;
    --shade: #130902;
  }
  
  /* Tailwind CSS custom classes */
  .bg-paper-light {
    background-color: var(--paper-light);
  }
  
  .bg-paper-mid {
    background-color: var(--paper-mid);
  }
  
  .bg-paper-dark {
    background-color: var(--paper-dark);
  }
  
  .text-ink {
    color: var(--ink );
  }
  
  /* Add more custom classes as needed */