images
*report.txt
*backup
*.md
notes
notepads
*.wip
devpages-ux305.sh
pj-md
env-backup
env.sh
*.DIFF
*.WORKING
qa
*.OLD
pd
ignore.txt
*.1
*.2
*.3
*.dot
pb.sh
out
out.txt
links.txt
uploads
users.csv
roles.txt
node_modules
logs
uploads
data
old
colors.sh

# Debug and temporary files
*.png
grep-out.txt
archive-*

backup/modules/gameClient.js
backup/modules/pjaSdk.js
backup/modules/CapabilityManager.js
backup/modules/capabilities.js
